<%# Dates are rendered visually on client side %>
<article class="post">
  <div class="post__header">
    <%# Only display username and date if user is member/admin or creator of the post %>
    <% if (locals.user && (user.is_admin || user.is_member || user.username === post.username)) { %>
      <div class="post__profile">
        <%- include('profile', { ...post }) %>
      </div>
      <p class="paragraph no-spacing">
        <span class="visually-hidden">Posted by</span>
        <span class="post__username"><%= post.username %></span>
        <span aria-hidden="true">•</span>
        <time
          class="js-date post__date"
          data-timestamp="<%= post.created_at %>"
          datetime="<%= new Date(post.created_at).toISOString() %>"
        ><span aria-label="Loading date">🕒</span></time>
      </p>
    <% } else { %>
      <div class="post__profile blur">
        <%- include('profile') %>
      </div>
      <p class="paragraph no-spacing blur"> 
        <span class="visually-hidden">Posted by</span>
        <span class="post__username">Annonymous</span>
        <span aria-hidden="true">•</span>
        <span class="post__date">hidden</span>
      </p>
    <% } %>

    <% if (locals.user && (user.is_admin || user.account_id === post.created_by)) { %>
      <form class="post__controller" action="/delete-post/<%= post.post_id%>" method="post">
        <button class="link--button" type="submit">Delete</button>
      </form>
    <% } %>
  </div>

  <div class="post__body">
    <h2 class="post__title title-two no-spacing"><%= post.title %></h2>
    <p class="post__message paragraph"><%= post.message %></p>
  </div>
</article>