<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Homepage'}) %>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="wrapper">
      <% if (locals.message) { %>
        <div class="message-box <%= locals.messageType %>" role="status">
          <p class="paragraph no-spacing"><%= message %></p>
        </div>
      <% } %>
      
      <% if (!locals.user || !(locals.user.is_member || locals.user.is_admin)) { %>
        <div class="message-box alert" role="status">
          <p class="paragraph no-spacing">
            <a class="link--inline" href="/user/membership">Become a member</a> to see post creators
          </p>
        </div>
      <% } %>

      <h1 class="title-one">Recent posts</h1>

      <div class="posts">
        <% if (posts.length === 0) { %>
          <div class="box">
            <p class="paragraph--centralized no-spacing">No results found!</p>
          </div>
        <% } else { %>
          <% posts.forEach((post) => { %>
            <%- include('partials/post', { post }) %>
          <% }) %>
        <% } %>
      </div>
    </div>
  </main>
  <%- include('partials/footer') %>
  <script src="/scripts/renderDates.js"></script>
</body>
</html>
