<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head', { title: 'post' }) %>
</head>
<body>
  <%- include('partials/header') %>
  <div class="wrapper">
    <% if (locals.message) { %>
      <div class="message-box <%= locals.messageType %>" role="status">
        <p class="paragraph no-spacing"><%= message %></p>
      </div>
    <% } %>
    <div class="post-page">
      <main class="post-page__main">
        <div class="post-page__post-header">
          <h1 class="title-two no-spacing"><%= post.title %></h1>
          <% if (locals.user && (user.is_admin || user.is_member || user.username === post.username)) { %>
            <p class="paragraph small-text">
              <span class="visually-hidden">Posted by <%= post.username %></span>
              <time
                class="js-date"
                data-timestamp="<%= post.created_at %>"
                datetime="<%= new Date(post.created_at).toISOString() %>"
              >
                <span aria-label="Loading date">🕒</span>
              </time>
            </p>
          <% } else { %>
            <p class="paragraph small-text blur">
              <span class="visually-hidden">Posted by Annonymous</span>
              <span class="post__date">hidden date</span>
            </p>
          <% } %>
        </div>

        <div class="post-page__controls">
          <div class="post-page__profile">
            <% if (locals.user && (user.is_admin || user.is_member || user.username === post.username)) { %>
              <%- include('partials/profile', { ...post }) %>
            <% } else { %>
              <%- include('partials/profile') %>
            <% } %>
          </div>
          <a class="link--icon" href="#comments">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <title>Comments</title>
              <path d="M12,3C17.5,3 22,6.58 22,11C22,15.42 17.5,19 12,19C10.76,19 9.57,18.82 8.47,18.5C5.55,21 2,21 2,21C4.33,18.67 4.7,17.1 4.75,16.5C3.05,15.07 2,13.13 2,11C2,6.58 6.5,3 12,3Z" />
            </svg>
          </a>
        </div>

        <p class="post-page__message paragraph"><%= post.message %></p>
      </main>
      <section class="post-page__comments" id="comments">
        <h2 class="title-two">Recent comments</h2>

        <% if (comments.length > 0) { %>
          <% comments.forEach((comment) => { %>
            <%- include('partials/comment', { comment }) %>
          <% }) %>
        <% } else { %>
          <div class="box">
            <p class="paragraph--centralized">No comments found</p>
          </div>
        <% } %>
      </section>

      <% if (locals.user) { %>
        <form
          class="post-page__comment-form box flex--column"
          action="/comment/<%= post.post_id %>"
          method="post"
        >
          <div class="input-wrapper">
            <label class="input-wrapper__label" for="comment">Leave a comment</label>
            <textarea
              class="input-wrapper__input"
              name="comment"
              id="comment"
              maxlength="400"
            ></textarea>
            <p class="input-wrapper__error"><%= locals.formErrors?.comment?.msg %></p>
          </div>
          <button class="button" type="submit">Submit</button>
        </form>
      <% } %>

    </div>
  </div>
  <%- include('partials/footer') %>
  <script src="/scripts/renderDates.js"></script>
</body>
</html>