<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Register'}) %>
<body>
  <%- include('partials/header') %>
  <form method="POST" action="/user/register">
   

    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      minlength="8"
      maxlength="20"
      value=<%= locals.formValues?.username || '' %>
    >
    <p><%= locals.formErrors?.username?.msg %></p>

    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      value=<%= locals.formValues?.email || '' %>
    >
    <p><%= locals.formErrors?.email?.msg %></p>

    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      minlength="8"
      maxlength="20"
      value=<%= locals.formValues?.password || '' %>
    >
    <p><%= locals.formErrors?.password?.msg %></p>

    <label for="confirm-password">Confirm password</label>
    <input
      type="password"
      name="confirmPassword"
      id="confirm-password"
      minlength="8"
      maxlength="20"
      value=<%= locals.formValues?.confirmPassword || '' %>
    >
    <p><%= locals.formErrors?.confirmPassword?.msg %></p>

    <button type="submit">Register</button>
  </form>
  <%- include('partials/footer') %>
</body>
</html>