<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Only Members | Register</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <%- include('partials/header') %>
  <form method="POST" action="/user/register">
    <% if (locals.formErrors) { %>
      <ul>
        <% formErrors.forEach(error => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      minlength="8"
      maxlength="20"
      value=<%= locals.formValues?.username || '' %>
    >

    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      value=<%= locals.formValues?.email || '' %>
    >

    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      minlength="8"
      maxlength="20"
      value=<%= locals.formValues?.password || '' %>
    >

    <label for="confirm-password">Confirm password</label>
    <input
      type="password"
      name="confirmPassword"
      id="confirm-password"
      minlength="8"
      maxlength="20"
      value=<%= locals.formValues?.confirmPassword || '' %>
    >

    <button type="submit">Register</button>
  </form>
</body>
</html>