<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Register'}) %>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="wrapper">
      <h1 class="title-one">Create account</h1>
      <form class="form-box" action="/user/register" method="post">
        <div class="input-wrapper">
          <label class="input-wrapper__label" for="username">Username</label>
          <input
            class="input-wrapper__input"
            type="text"
            name="username"
            id="username"
            minlength="8"
            maxlength="20"
            value=<%= locals.formValues?.username || '' %>
          >
          <p class="input-wrapper__error"><%= locals.formErrors?.username?.msg %></p>
        </div>

        <div class="input-wrapper">
          <label class="input-wrapper__label" for="email">Email</label>
          <input
            class="input-wrapper__input"
            type="email"
            name="email"
            id="email"
            value=<%= locals.formValues?.email || '' %>
          >
          <p class="input-wrapper__error"><%= locals.formErrors?.email?.msg %></p>
        </div>

        <div class="input-wrapper">
          <label class="input-wrapper__label" for="password">Password</label>
          <input
            class="input-wrapper__input"
            type="password"
            name="password"
            id="password"
            minlength="8"
            maxlength="20"
            value=<%= locals.formValues?.password || '' %>
          >
          <p class="input-wrapper__error"><%= locals.formErrors?.password?.msg %></p>
        </div>

        <div class="input-wrapper">
          <label class="input-wrapper__label" for="confirm-password">Confirm password</label>
          <input
            class="input-wrapper__input"
            type="password"
            name="confirmPassword"
            id="confirm-password"
            minlength="8"
            maxlength="20"
            value=<%= locals.formValues?.confirmPassword || '' %>
          >
          <p class="input-wrapper__error"><%= locals.formErrors?.confirmPassword?.msg %></p>
        </div>
        
        <button class="button" type="submit">Register</button>
      </form>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
</html>