<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Account Settings'}) %>
<body>
  <%- include('partials/header') %>
  <main>
    <div class="wrapper">
      <% if (!user.is_member) { %>
        <div class="message-box alert">
          <a class="link--inline" href="/user/membership">Become a member</a>
        </div>
      <% } %>

      <h1 class="title-one">Account settings</h1>

      <div class="user-page-content">
        <div class="box user-page-content__general">
          <h2 class="title-two">General</h2>
          <p class="paragraph">Id: <%= locals.user.account_id %></p>
          <p class="paragraph">
            Username: <span class="accent"><%= user.username %></span>
          </p>
          <p class="paragraph">Email: <%= locals.user.email %></p>
          <p class="paragraph">Membership:
            <% if (user.is_admin) { %>
              <span class="accent">Admin</span>
            <% } else if (user.is_member) { %>
              <span class="accent">Member</span>
            <% } else { %>
              <span>Not member</span>
            <% } %>
          </p>
          <p class="paragraph">#TODO: <span class="accent">ALLOW USER TO EDIT</span></p>
        </div>

        <div class="box--transparent user-page-content__posts">
          <h2 class="title-two">Latest posts</h2>
          <div>
            <% if (posts.length === 0) { %>
              <div class="box--transparent">
                <p class="paragraph--centralized no-spacing">No posts found!</p>
              </div>
            <% } else { %>
              <% posts.forEach((post) => { %>
                <%- include('partials/post', { post }) %>
              <% }) %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer') %>
  <script src="/scripts/renderPosts.js"></script>
</body>
</html>